*,
::before,
::after {
    box-sizing: content-box;
}

.container{
    width: 100%;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }
a{
    color: white;
}
#sidenav-overlay{
    z-index: 99;
}
.nav-extended{
    background-color: #000000ef;
    box-shadow: 0 0 10px black;
}
.navbar-fixed {
    height: 112px;
    z-index: 900;

}
.tabs{
    display: flex;
    justify-content: center;
    z-index: 98;
}

#logo{
    position: relative;
    padding-left: 20px;
}
#logo img{
    position: absolute;
    height: 112px;
}
#logo img:last-child{
    height: 50px;
    top: 36px;
    left: 30px;
}
#logo img:last-child:hover{
    transform: scale(1.1);
}
.autocomplete-content{
    position: absolute;
}
.new-wrapper{
    width: 100%;
}
.search{
    display: flex;
    align-items: center;
    width: 60vw;
    transform: translate(-10%, 20%);
}
#search{
    background-color: #fff;
    border-radius: 500px;
    font-size: 16px;
    font-weight: 800;
    width: 100%;
    height: 45px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    color: black;
    padding-left: 10px;

}

.search .material-icons {
    cursor: pointer;
    color:#3c3c3c;
    z-index: 901;
    left: -42px;
    position: relative;
}
.userImage{
    border-radius: 5000px;
    border: white 2px solid;
    height: 52px;
    width: 80px;
    object-fit: cover;
    margin-top: 6px;
}
.dropdown-button{
    display: grid;
    grid-template-columns: 80px 1fr 20px;
}
.dropdown-button:first-child{
    grid-gap: 10px;
}
.dropdown-button i{
    margin: 0;
}
.dropdown-content{
    width: 200px;
    z-index: 902;
}
.dropdown-content .material-icons{
    margin: 0 4px 0 0;
}

input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #26a69a00;
    -webkit-box-shadow: 0 1px 0 0 #26a69a00;
    box-shadow: 0 1px 0 0 #26a69a00;
}

.review{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(4, 1fr);
    height: 50vh;
    max-height: 300px;
    margin: 20px 0;
    background-color: #0000008e;
    border-radius: 2px;
    box-shadow: 0 0 10px #3c3c3c;
}
.review:hover{
    box-shadow: 0 0 10px black;
}
.reviewImage{
    grid-row: span 4;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    object-fit: cover;
    width: 200px;
}
.reviewImage p{
    position: relative;
    top: -44px;
    background-color: black;
    color: white;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}
.reviewTitle{
    grid-row: span 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 12px;
}
.titleTags{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.reviewTitle h2 {
    font-size: 1.2em;
    font-weight: 700;
    padding-right: 4px; 
}
.pillIcon {
    width: 100px;
    height: 40px;
    border-radius: 20000px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-self: auto;
    align-items: center;
    font-weight: 900;
    font-size: 1.1em;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}
.pillIcon p{
    text-shadow: 0 0 6px white;
    cursor: default;
}
.pillIcon i {
    cursor: pointer;
    color: grey;
}
.pillIcon i:hover {
transform: scale(1.2);
}
.up{
    color: red !important;
    transform: scale(1.2);
    text-shadow: 0 0 4px;
}
.down{
    color: blue !important;
    transform: scale(1.2);
    text-shadow: 0 0 4px white;
}
.reviewContent{
    grid-row: span 2;
    text-overflow: "..";
    overflow: hidden;
}
.reviewFooter{
    grid-row: span 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.reviewFooter a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: scale(1.1);
    font-size: 0.7rem;
    padding-left: 4px; 
}
.reviewFooter a:nth-child(2) {
    transform: scale(1.1);
}
.reviewFooter a:hover {
    transform: scale(1);
}
.reviewFooter p {
    padding: 12px 0 0 4px;
}
.reviewFooter .userImage{
    width: 2rem;
    height: 2rem;
}

@media (max-width: 1300px) {
    .reviewFooter a:nth-child(2) {
        transform: scale(1);
    }
    .reviewFooter a:nth-child(2):hover {
        transform: scale(0.9) translate(10px);
    }
}

@media (max-width: 992px) {
    #logo img:first-child {
        display: none;
    }

    #logo img:last-child {
        top: 0;
        left: -45px;
    }
}

@media (min-width: 993px){
    .changebtn {
        margin-top: 16px !important;
    }
}

.rating i{
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}

.rating i:hover{
    transform: scale(1.5);
}
footer{
    background: url(../images/drugs.png);
    background-size: cover;
}
footer .container p{
    display: inline;
}

.pageReview{
    background-color: grey;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}
.pageReview pre{
    background-color: #ffffff49;
    padding: 5px;
}
.headerReview {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.headerReview h2 {
    margin: 0;
    padding: 0;
    font-size: 1.8em;
    padding-left: 12px;
}

.headerReview div,
.headerReview div a,
.headerReview div p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerReview,
.footerReview a{
    display: flex;
    padding-left: 4px;
    align-items: center;
}
.footerReview a p,
.footerReview a i{
    padding: 0 10px;
}

.userComment {
    display: grid;
    grid-template-columns: 90px 4fr;
    grid-template-rows: 60px 1fr 36px;
    padding: 10px 0;
    width: 100%;
}
.userCommentAnswer {
    display: grid;
    grid-template-columns: 90px 4fr;
    grid-template-rows: 60px 1fr 120px;
    padding: 10px 0;
    width: 100%;
}

.userImgComment {
    border-radius: 5000px;
    border: white 2px solid;
    height: 52px;
    width: 80px;
    object-fit: cover;
    margin: auto 0;
}

.commentHeader {
    margin: auto 0;
    background-color: black;
    padding: 16px 24px;
    border-radius: 0 60px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.commentHeader .sumupvote{
    color: black;
}
.commentHeader h4 {
    font-size: 20px;
    padding: 0;
    margin: 0;
}
.commentContent {
    background-color: #75757598;
    grid-column: 2/2;
    grid-row: 2/2;
    padding: 2px 2px 2px 5px;
    margin: 12px 0 0 0;
}
.commentFooter{
    grid-column: 2/2;
    grid-row: 3/3;
}
.commentFooter .addComment{
    width: 100%;
    padding: 0;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
    font-weight: bold;
}
.answer {
    float: right;
    width: 92%;
}
#sendComment{
    width: 100%;
    margin: 10px 0;
    padding: 0;
}
.userCommentAnswer textarea{
    background-color: #fff;
    margin: 0;
}

tbody{
    color: white;
    font-weight: 900;
}

#pagesLeaderboard{
    display: flex;
    align-items: center;
    justify-content: center;
}