select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    padding: 2px 25px;
}
select option {
    background: rgba(0, 0, 0, 0.603);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.575);
}
select option:disabled {
    display: none;
}
select option:checked {
    background-color: red;
}
select option:hover {
}