*,
::before,
::after {
    box-sizing: content-box;
}
.nav-extended{
    background-color: #000000cc;
}
.navbar-fixed {
    height: 112px;
    z-index: 900;

}
.tabs{
    display: flex;
    justify-content: center;
}
#logo{
    position: relative;
    padding-left: 20px;
}
#logo img{
    position: absolute;
    height: 112px;
}
#logo img:last-child{
    height: 50px;
    top: 36px;
    left: 30px;
}
#logo img:last-child:hover{
    transform: scale(1.1);
}

.autocomplete-content{
    position: absolute;
}
.new-wrapper{
    width: 100%;
}
.card {

    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 5000px;

}
#autocomplete-input {

    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 45px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 45px 0 15px;
    border: 0;

}
#nav-mobile li.search .search-wrapper i.material-icons {

    position: absolute;
    top: -8px;
    right: 10px;
    cursor: pointer;
    color:#3c3c3c;
    z-index: 901;

}
.autocomplete-content{
    width: 251.667px;
}
.userImage{
    border-radius: 5000px;
    border: white 2px solid;
    height: 52px;
    width: 80px;
    object-fit: cover;
    margin-top: 6px;
}
.dropdown-button{
    display: grid;
    grid-template-columns: 80px 1fr 20px;
}
.dropdown-button:first-child{
    grid-gap: 10px;
}
.dropdown-button i{
    margin: 0;
}
.dropdown-content{
    width: 200px;
    z-index: 902;
}
.dropdown-content .material-icons{
    margin: 0 4px 0 0;
}
#autocomplete-input{
    color: black;
}
input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #26a69a00;
    -webkit-box-shadow: 0 1px 0 0 #26a69a00;
    box-shadow: 0 1px 0 0 #26a69a00;
}

.review{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(4, 1fr);
    height: 300px;
    margin-top: 20px;
    background-color: #0000008e;
    border-radius: 2px;
    box-shadow: 0 0 10px #3c3c3c;
}
.reviewImage{
    grid-row: span 4;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}
.reviewImage p{
    position: relative;
    top: -44px;
    background-color: black;
    color: white;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}
.reviewTitle{
    grid-row: span 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 12px;
}
.reviewTitle h2 {
    font-size: 1.2em;
    font-weight: 700;
}
.pillIcon {
    width: 100px;
    height: 40px;
    border-radius: 20000px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-self: auto;
    align-items: center;
    font-weight: 900;
    font-size: 1.1em;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
}
.pillIcon p{
    text-shadow: 0 0 4px white;
    cursor: default;
}
.pillIcon i {
    cursor: pointer;
    color: grey;
}
.reviewContent{
    grid-row: span 2;
    text-overflow: ellipsis;
}
.reviewFooter{
    grid-row: span 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.reviewFooter img{
        height: 50px;

}