.hover-underline-menu .menu a {
  color: #fefefe !important;
  padding: 1.2rem 1.5rem;
  font-family: 'Fascinate Inline', cursive;
  font-size: 1.1em;
}

.hover-underline-menu .menu .underline-from-center {
  position: relative;
}

.hover-underline-menu .menu .underline-from-center::after {
  content: "";
  position: absolute;
  top: calc(100% - 0.001rem);
  border-bottom: 0.1rem solid #fefefe;
  left: 50%;
  right: 50%;
  transition: all 0.5s ease;
}

.hover-underline-menu .menu .underline-from-center:hover::after {
  left: 0;
  right: 0;
  transition: all 0.5s ease;
}

.active {
  border-bottom: 0.125rem solid #fefefe;
}

.logto {
  padding-top: 50px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.logto li {
  display: inline;
  grid-column: span 1;
  text-align: center;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome and Opera */
  cursor: pointer;
  outline: none;
}
a{
    color: white;
}

#registerButton {
  margin: -5px 30px;
  padding-top: 5px;
  background: black;
  color: white;
}


#registerButton:hover {
  padding-top: 2px;
  background: white !important;
  color: black !important;
  border: black solid 3px;
}

#logInButton:hover {
  color: white !important;
  transform: scale(1.1, 1.1);
}

.userImage{
  margin: 10px;
  border-radius: 5000px;
  border: white 2px solid;
  height: 100px;
  width: 160px;
  background: url("../images/profile-picture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}