
  
  .hover-underline-menu .menu a {
    color: #fefefe;
    padding: 1.2rem 1.5rem;
  }
  
  .hover-underline-menu .menu .underline-from-center {
    position: relative;
  }
  
  .hover-underline-menu .menu .underline-from-center::after {
    content: "";
    position : absolute;
    top: calc(100% - 0.001rem);
    border-bottom: 0.1rem solid #fefefe;
    left: 50%;
    right: 50%;
    transition: all 0.5s ease;
  }
  
  .hover-underline-menu .menu .underline-from-center:hover::after {
    left: 0;
    right: 0;
    transition: all 0.5s ease;
  }
  
  .active{
    border-bottom: 0.125rem solid #fefefe;
  }

  .logto{
    padding-top: 50px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .logto li {
    display: inline;
    grid-column: span 1;
    text-align: center;
  }

  #registerButton{
    margin: -5px 30px;
    padding-top: 5px;
    background: black;
    color: white;
  }

  #svgtest {
    background-color: red;
    mask-image: url(../images/pill.svg);
}