*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.userComment{
    display: grid;
    grid-template-columns: 90px 4fr;
    grid-template-rows: 60px 1fr;
    padding: 10px 0;
    width: 100%;
}
.userComment img{
    border-radius: 5000px;
    border: white 2px solid;
    height: 52px;
    width: 80px;
    object-fit: cover;
    margin: auto 0;
}

.userComment div{
    margin: auto 0;
    background-color: #2f2f2f9a;
    padding: 12px;
    border-radius: 0 60px 0 0;
}
.userComment p{
    background-color: #75757598;
    grid-column: 2/2;
    grid-row:  2/2;
    padding: 2px 2px 2px 5px;
}
.answer{
    float: right;
    width: 92%;
}